.main {
    background-color: red;
}
.productWrapper {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
    padding: 76px 0 0 0;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.productContent {
    display: inline-block;
    width: 20%;
    height: 400px;
    cursor: pointer;
    padding: 5px;
}
.addProduct {
    position: fixed;
    left: 40px;
    bottom: 30px;
    background-color: #4d92e3;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    -webkit-box-shadow: 0px 0px 24px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 24px -2px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 24px -2px rgba(0, 0, 0, 0.75);
    cursor: pointer;
}
.addProduct:hover {
    background-color: #5a8fd5
}
.cross {
    background: #d1d1d1;
    height: 40px;
    position: absolute;
    width: 12px;
    left: 50%;
    top: 50%;
    border-radius: 2px;
    transform: translate(-50%, -50%);
}
.cross:after {
    background: #d1d1d1;
    content: "";
    height: 12px;
    left: -14px;
    position: absolute;
    top: 14px;
    border-radius: 2px;
    width: 40px;
}
.showDetails {
    width: 100%;
    height: 100%;
    background-color:  #ffffff;
    margin: 0 0 100px 0;
}
.socialLoginWrapper {
  background-color: #ffffff;
  padding: 40px;
}